<div class="container h-100 background">
    <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
            <div >
                <img src="assets/pictures/logo_b.jpg" alt="logo">
            </div>
            <div class="title-big">
                Ding Dong
            </div>
            <div class="title-medium">
                DON'T GUESS
            </div>
            <div class="mt-5">
                <button class="w-80" (click)="onClickLevels()"> LEVELS </button>
            </div>
        </div>
    </div>
</div>