<div class="container ">
    <div class="row header static w-100">
        <div class="col-12 text-center header">
            Ding Dong Don't Guess
        </div>
    </div>

    <div class="w-100 pt-10"> </div>

    <div class="row body">
        <ng-container *ngFor="let item of levels">
            <div class="col-6 p-02">
                <div (click)="onClickLevel(item)" class="col-12 p-02 panel text-center">
                    <img class="level-icon mt-3 mb-2" src="assets/pictures/data/{{item.image}}" alt="data-image">
                    <br>
                    <ng-container *ngIf="item.level == 0">
                        <span class="small-font">
                            Level:
                        </span>
                        <b>BASIC</b>
                    </ng-container>
                    <ng-container *ngIf="item.level == 1">
                        <span class="small-font">
                            Level:
                        </span>
                        <b>PWEDE NA</b>
                    </ng-container>
                    <ng-container *ngIf="item.level == 2">
                        <span class="small-font">
                            Level:
                        </span>
                        <b>HIRAP BES</b>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </div>

    <div class="w-100"> </div>

    <div class="row footer">
        <div class="col-12 text-center footer">
            Ding Dong Don't Guess
        </div>
    </div>
</div>
