<div class="container">
    <div class="row header static w-100 h-10">
        <div class="col-12 text-center header" (click)="onClickHome()">
            Ding Dong Don't Guess
        </div>
    </div>

    <div class="w-100 pt-10"> </div>

    <div class="row body h-80-vh">
        <div class="col-12">
            <div class="col-12 text-center">
                Difficulty Level: Easy
            </div>

            <div class="col-12 text-center">
                Image
            </div>

            <div class="col-12 text-center">
                <input type="text">
            </div>
        </div>
    </div>

    <div class="w-100"> </div>

    <div class="row footer h-10">
        <div class="col-12 text-center">
            Ding Dong Don't Guess
        </div>
    </div>
</div>
    